.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 98vw;
  height: 94vh;
  background: #C0A88F;
  padding: 20px 40px 20px;
  display: flex;
  flex-direction: column;
}
