.tabRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.tabs {
  display: flex;
  gap: 4px;
}

.tab {
  padding: 8px 20px;
  border: none;
  background: #f2e4c7;
  cursor: pointer;
  border-radius: 4px;
}

.active {
  font-weight: 600;
}

.rightArea {
  display: flex;
  align-items: center;
}

/* 🔥 오른쪽 검색창 */
.searchInput {
  width: 200px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
