.pagination {
  margin-top: 8px;
  text-align: center;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.pageBtn {
  border: none;
  background: transparent;
  padding: 2px 6px;
  cursor: pointer;
}

.active {
  font-weight: 600;
  text-decoration: underline;
}
